<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SkiFree</title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body id="local">
		<div id="painel"></div>
		<div id="montanha">
			<div id="skier"></div>
		</div>
		<script src="js/script.js"></script>
	</body>
</html>