<h1>Criação de conta</h1>

<div class="container">
	<div class="row">
		<div class="col-6">

			<form action="/signup" method="post">

				<div class="form-group">
					<label for="nome" class="form-label mt-4">Nome Completo</label>
					<input
						type="text"
						class="form-control"
						id="nome"
						name="nome"
						placeholder="Jorge Frota de Almeida"
					/>
				</div>

				<div class="form-group">
					<label for="email" class="form-label mt-4">Endereço de E-mail</label>
					<input
						type="email"
						class="form-control"
						id="email"
						name="email"
						placeholder="Teste@gmail.com"
					/>
				</div>

				<div class="form-group">
					<label for="curso" class="form-label mt-4">Grupo Financeiro</label>
					<select class="form-select" id="curso" name="curso">
						{{#each cursos}}
							<option value="{{id}}">{{nome}}</option>
						{{/each}}
					</select>
				</div>

				<div class="form-group">
					<label for="nascimento" class="form-label mt-4">Data de Nascimento</label>
					<input
						type="date"
						class="form-control"
						id="nascimento"
						name="nascimento"
					/>
				</div>

				<div class="form-group">
					<label for="senha" class="form-label mt-4">Senha</label>
					<input
						type="password"
						class="form-control"
						id="senha"
						name="senha"
						placeholder="Digite a senha"
					/>
				</div>

				<div class="bs-component">
					<div class="d-grid gap-2 mt-4">
						<button class="btn btn-primary" type="submit">Criar conta</button>
					</div>
				</div>

			</form>

		</div>
	</div>
</div>