<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/main.css" />
		<title>Minha Aplicação</title>
	</head>
	<body>
		<div class="bs-component ">
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<div class="container-fluid ">
					<a class="navbar-brand" href="/">Skifree</a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarColor01"
						aria-controls="navbarColor01"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav me-auto barra-navegacao">
							<li class="nav-item">
								<a class="nav-link active" href="/">Página Inicial
									<span class="visually-hidden">(current)</span>
								</a>
							</li>
							
                            <li class="nav-item">
								<a class="nav-link" href="/ui">UI</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Curso</a>
								<div class="dropdown-menu">
								<a class="dropdown-item" href="/curso">Lista de Cursos</a>
								<a class="dropdown-item" href="/curso/create">Adicionar Curso</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/areas">Áreas</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/about">Sobre</a>
							</li>
							<li class="nav-item">
								<button type="button" class="btn btn-outline-success"><a class="nav-link" href="/jogo">Iniciar Jogo</a></button>
							</li>
							<li class="nav-item"></li>
								<a href="/signup"><button type="button" class="btn btn-danger">Criar Conta</button></a>
							</li>

						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="container main-body">
			{{{body}}}
		</div>
		
		<center><a href="#top">Voltar para o topo</a></center>
		
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/js/custom.js"></script>
	</body>
<!--</html><i class="npm sfas fa-cloud-showers-heavy"></i>-->